$themes: (
  light: (
    text: #100909,
    background: #fcf8f8,
    primary: #fa6b6b,
    secondary: #d19999,
    accent: #ca7d7d,
  ),
  dark: (
    text: #f6efef,
    background: #070303,
    primary: #940505,
    secondary: #662e2e,
    accent: #823535,
  ),
);
